.card{
    width: 18rem;
    /* background: white; */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
    text-align: center;
    padding: 15px;

}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2);
}
.addToCart{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
}


